#mainflame {
    width: 350px;
    height: 200px;
    border: thin solid dimgray;
    border-radius: 4px;
    display: none;
}

#mainbox {
    width: 280px;
    height: 120px;
    font-size: 24px;
    text-align: center;
    list-style: none;
    padding: 0.5em;
    /* border: thin solid dimgray; */
    margin-top: 0.1em;
    /* border-radius: 4px; */
    display: none;
}

#wordtable {
    width: 306px;
    font-size: 16px;
    list-style: none;
    padding: 0.5em;
    border: thin solid dimgray;
    margin-top: 0.1em;
    border-radius: 4px;
}

#comp,
#ok-btn,
#again-btn,
#appear-btn {
    display: none;
}