.btn {
    background-color: gainsboro;
    height: 60px;
    margin-top: 10px;
    color: white;
    background-color: dodgerblue;
    border-color: dodgerblue;
}

.container1 {
    display: flex;
}

.subtitle1,
.subtitle2 {
    width: 150px;
    font-size: 16px;
    text-align: center;
    padding: 5px 0;
    color: white;
    margin-bottom: 10px;
    border: thin solid;
}

.subtitle1 {
    background-color: dodgerblue;
    border-color: dodgerblue;
}

.subtitle2,
#start-btn1t,
#start-btn2t,
#start-btn3t {
    background-color: darkorange;
    border-color: darkorange;
}

.alinkstyle {
    text-decoration: none;
}

.spacer1 {
    width: 20px;
}

#howtouse1 {
    width: 330px;
    padding: 0.4em;
    background: aliceblue;
    border-left: solid 5px dodgerblue;
}

#howtouse2 {
    width: 330px;
    padding: 0.4em;
    background: #ffbf7f;
    border-left: solid 5px darkorange;
}

#howtouse3,
#howtouse4,
#howtouse5
 {
    width: 330px;
    padding: 0.4em;
    background: whitesmoke;
    border-left: solid 5px dimgray;
}