#kotae1,
#kotae2,
#progress,
#check-btn,
#erase-btn,
#reset-btn {
    display: none;
}

#mondai0,
#dot {
    font-size: 20px;
}

#kotae1,
#kotae2 {
    height: 35px;
    font-size: 20px;
    font-family: serif;
    margin-top: 5px;
    margin-bottom: 10px;
}

#kotae1 {
    width: 40px;
}

#kotae2 {
    width: 60px;
}
