html {
    font-family: serif;
    font-size: 24px;
    margin: 2%;
}

hr {
    line-height: 1px;
    color: dimgray;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 20px;
}

select {
    width: 150px;
    height: 30px;
    font-size: 16px;
    font-family: serif;
}

.btn {
    width: 90px;
    height: 30px;
    font-size: 16px;
    font-family: serif;
}

#mondai {
    margin-top: 5px;
}

.kotae {
    width: 90px;
    height: 30px;
    font-size: 20px;
    font-family: serif;
    margin-top: 5px;
}

progress {
    width: 300px;
    height: 20px;
    border-radius: 0px;
    background-color: none;
}

progress::-webkit-progress-bar {
    background-color: lightgray;
}

progress::-webkit-progress-value {
    background-color: dimgray;
}

.footer-container {
    font-size: 12px;
}

.menutxt {
    margin-bottom: 3em;
    font-size: 16px;
}

.backToTop {
    font-size: 16px;
}

.hdn {
    visibility: hidden;
    font-size: 8px;
}

/* responsive design用
@media screen and (max-width: 480px) {
    .xx
}
*/