#mainbox {
    width: 340px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    border: thin solid dimgray;
    border-radius: 4px;
    margin-bottom: 10px;
    display: none;
    padding-top: 0.5em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.answerbox {
    width: 340px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    border-radius: 4px;
    margin-top: 15px;
    margin-bottom:10px;
    display: none;
    padding-top: 0.5em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: black;
    background-color: aliceblue;
    border: thin solid dodgerblue;
    cursor: pointer;
}

#wrongwordtable {
    width: 340px;
    font-size: 16px;
    list-style: none;
    text-align: center;
    margin-top: 0.1em;
    word-break: break-word;
}

#wrongwordtable tr:nth-child(odd) td {
	background: aliceblue;
}

#wrondwordtable td {
	padding-left: 15px;
    padding-right: 15px;
}

#resultmsg {
    font-size: 20px;
}

#stop-btn,
#timer-bar,
#mainbox,
.answerbox,
#resultmsg,
#wrongwordtable {
    display: none;
}

#start-btn,
#stop-btn {
    width: 150px;
    margin-top: 10px;
    margin-right: 10px;
}

#lng {
    width: 150px;
    margin-top: 10px;
}

#timer-bar {
    width: 340px;
    margin-top: 15px;
}

#timer-bar::-webkit-progress-value {
    background-color: dodgerblue;
}