#kotae1,
#kotae2,
#erase-btn,
#reset-btn {
    display: none;
}

#dot {
    font-size: 20px;
}

#kotae1,
#kotae2 {
    width: 60px;
    height: 35px;
    font-size: 20px;
    font-family: serif;
    margin-top: 5px;
    margin-bottom: 10px;
}

#step {
    width: 150px;
}