#dantitle,
#recordtitle {
    font-size: 18px;
}

#recordtitle {
    font-size: 18px;
    margin-bottom: 0.1em;
}

.recordlist {
    width: 270px;
    font-size: 16px;
    list-style: none;
    padding: 0.5em;
    border: thin solid dimgray;
    margin-top: 0.1em;
    border-radius: 4px;
}

#erase-btn,
#reset-btn,
#kotae {
    display: none;
}