#kotae,
#erase-btn,
#reset-btn {
    display: none;
}

#kotae {
    width: 60px;
    height: 35px;
    font-size: 20px;
    font-family: serif;
    margin-top: 5px;
    margin-bottom: 10px;
}

#step {
    width: 200px;
}